.vs/
Library/
Logs/
obj/
Packages/
ParallelLoopsWorkspace/
ProjectSettings/
Temp/
UIElementsSchema/
UserSettings/
.vsconfig
Assembly-CSharp.csproj
*.sln
Assets/Plugins/
Assets/Scenes/
Assets/Resources/
*.meta
UnityDefaultRuntimeTheme.tss
globalsettings.ini