.vs/
Library/
Logs/
obj/
Packages/
ProjectSettings/
Temp/
UIElementsSchema/
UserSettings/
.vsconfig
Assembly-CSharp.csproj
TestProject.sln
Assets/Plugins/
Assets/Scenes/
Assets/Models/
Assets/Textures
*.meta
UnityDefaultRuntimeTheme.tss